
/* ******************************************************************* CART ******************************************************************* */
table {
    width: 100vw;
    background-color: white;
    color: black;
    border: none;
    th, td {
        border: none;
    }
}