/* ****************************************************************** SETTINGS ****************************************************************** */
// colours
$main-color: #0a898d;
$txt-color: white;
// distances
$screen-border-size: 5vw;
// sizes
$font: 16px;
/* ******************************************************************* INDEX ******************************************************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// font
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $font;
    color: $txt-color;
    letter-spacing: .03rem;
}
// background
body {
    background-color: $main-color;
}
/* ******************************************************************* IMPORT ******************************************************************* */
@import 'header';
@import 'products';
