* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  letter-spacing: .03rem;
}

body {
  background-color: #0a898d;
}

#logo > img {
  background-image: url(/img/sogo_logo.svg);
  width: 3rem;
}

header {
  height: 16vh;
  border-bottom: 1px solid white;
  padding: 0 5vw;
  padding-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header > a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .nav {
  list-style-type: none;
}

header .nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

header #nav-main {
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header #nav-main > li a {
  padding: 0 2vw;
}

header #nav-main li:first-child {
  position: relative;
}

header #nav-main li:first-child ul {
  background-color: #0a898dd8;
  position: absolute;
  display: none;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

header #nav-main li:first-child ul li {
  font-size: 0.8rem;
  border-top: 1px solid white;
  margin: 0.3rem 1rem 0.5rem 1rem;
  padding-top: .5rem;
}

header #nav-main li:first-child:hover ul {
  display: block;
}

header #nav-sub {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #nav-sub li a {
  padding: 0 0.5vw;
  font-size: 1.2em;
}

header #nav-sub li:first-child {
  margin-right: 2vw;
}

main {
  padding: 0 5vw;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto 3vw;
      grid-template-columns: auto auto auto 3vw;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "img img img img"  "cat cat cat cat" "name name name name" "price . btn-buy .";
}

main > div > div {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: img;
  display: inline-block;
  width: 20vw;
  height: 12vw;
  background-size: cover;
  background-position: -1.3vw -10vh;
}

main > div h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: cat;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 0.8rem;
  font-weight: lighter;
}

main > div h3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: name;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: white;
  font-size: 1rem;
  margin-top: .3rem;
}

main > div span {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: price;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 0.6rem;
}

main > div button {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: btn-buy;
  cursor: pointer;
  width: 2rem;
  background-color: #0a898d;
  border: 1px solid white;
  border-radius: .2rem;
  font-size: 0.6rem;
  color: white;
  -webkit-box-shadow: .6rem .6rem .6rem #0a898d36;
          box-shadow: .6rem .6rem .6rem #0a898d36;
  padding: .15rem;
  margin-top: .5rem;
}
/*# sourceMappingURL=style.css.map */