/* ****************************************************************** SETTINGS ****************************************************************** */
// font
$font: Helvetica, Arial, sans-serif;
// colours
$main-color: #0a898d;
$txt-color: white;
// distances
$screen-border-size: 5vw;
// sizes
$font-size: 16px;
/* ******************************************************************* INDEX ******************************************************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// font
html {
    font-family: $font;
    font-size: $font-size;
    color: $txt-color;
    letter-spacing: .03rem;
}
// background
body {
    background-color: $main-color;
}
#navbar {
    background-color: #333;
    /*position: fixed;*/
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
/* ******************************************************************* IMPORT ******************************************************************* */
@import 'header';
@import 'products';
@import 'cart';
