* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// colours
$main-color: #0a898d;
$text-color: white;
// distances
$screen-border-left-right: 0 5vw;
$header-bottom: 1vh;
$nav-main-left-right: 0 2vw;
$sub-main-top-left: .5rem 0 0 .5rem;
$nav-sub-left-right: 0 .5vw;
$main-top: 10vh;
// coordinates
$img-width: 200px;
$img-height: 120px;
// font
html {
    font-family: Helvetica, Arial, sans-serif;
    color: $text-color;
}
// background
body {
    background-color: $main-color;
}
// logo
#logo > img {
    background-image: url(/img/sogo_logo.svg);
    width: 3rem;
}
// header
header {
    height: 16vh;
    border-bottom: 1px solid white;
    padding: $screen-border-left-right;
    padding-bottom: $header-bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    > a {
        flex-grow: 1;
    }
    // navigation
    .nav {
        list-style-type: none;
        li a {
            display: block;
            text-decoration: none;
            color: $text-color;
        }
    }
    // main navigation
    #nav-main{
        flex-grow: 20;
        display: flex;
        justify-content: flex-start;
        > li a {
            padding: $nav-main-left-right;
        }
        // main sub navigation
        li:first-child {
            position: relative;
            ul {
                position: absolute;
                display: none;
                li {
                    margin: $sub-main-top-left;
                }
            }
        }
        li:first-child:hover ul {
            display: block;
        }
    }
    // sub navigation
    #nav-sub {
        flex-grow: 2;
        display: flex;
        justify-content: space-between;
        li a {
            padding: $nav-sub-left-right;
            font-size: 1.2em;
        }
        // shopping cart
        li:first-child {
            margin-right: 2vw;
        }
    }
}
// products
main {
    padding: $screen-border-left-right;
    margin-top: $main-top;
    display: flex;
    > div {
        // image
        > div {
            display: inline-block;
            width: $img-width;
            height: $img-height;
            background-size: cover;
            background-position:-1.3vw -10vh;
       }
       // category
       h2 {
           font-size: 1em;
           font-weight: lighter;
       }
       // name
       h3 {
            color: $text-color;
       }
       // price
       span {
           font-size: .6em;
       }
    }
}
