/* ****************************************************************** SETTINGS ****************************************************************** */
/* ******************************************************************* INDEX ******************************************************************* */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: .03rem;
}

body {
  background-color: #0a898d;
}

/* ******************************************************************* IMPORT ******************************************************************* */
/* ******************************************************************* HEADER ******************************************************************* */
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: .03rem;
}

body {
  background-color: #0a898d;
}

header {
  position: fixed;
  width: 100vw;
  height: 4rem;
  background-color: #0a898d;
  border-bottom: 1px solid white;
  padding: 0 5vw;
  padding-bottom: 0.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw auto 18vw;
      grid-template-columns: 10vw auto 18vw;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: ". . ." "logo main sub";
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  z-index: 1;
}

header #logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: logo;
}

header #logo > img {
  width: 3rem;
}

header > label div {
  display: none;
}

header > label:first-of-type {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

header > label:last-of-type {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sub;
}

header ul {
  list-style-type: none;
}

header ul li a {
  display: block;
  text-decoration: none;
}

header #toggle-main {
  display: none;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #nav-main {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header #nav-main > li a {
  color: inherit;
  padding: 0 2vw;
}

header #nav-main > li:first-child > ul {
  background-color: #0a898dd8;
  position: absolute;
  display: none;
}

header #nav-main > li:first-child > ul > li {
  font-size: 0.8rem;
  margin: 0.6rem;
  padding-top: 0.6rem;
}

header #nav-main > li:first-child > ul > li:first-child {
  margin-top: 0.3rem;
}

header #nav-main > li:first-child:hover ul {
  display: block;
}

header #toggle-sub {
  display: none;
}

header #nav-sub {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #nav-sub > li:first-child {
  margin-right: 3vw;
}

header #nav-sub > li > a {
  color: inherit;
}

/* ******************************************************************* MEDIA QUERY ******************************************************************* */
@media only screen and (max-device-width: 640px) {
  @-webkit-keyframes dot-1 {
    0% {
      top: 2.25rem;
      left: 9px;
    }
    50% {
      top: 2.25rem;
      left: 15px;
    }
    100% {
      top: 1.9rem;
      left: 15px;
    }
  }
  @keyframes dot-1 {
    0% {
      top: 2.25rem;
      left: 9px;
    }
    50% {
      top: 2.25rem;
      left: 15px;
    }
    100% {
      top: 1.9rem;
      left: 15px;
    }
  }
  @-webkit-keyframes dot-3 {
    0% {
      top: 2.25rem;
      left: 21px;
    }
    50% {
      top: 2.25rem;
      left: 15px;
    }
    100% {
      top: 2.6rem;
      left: 15px;
    }
  }
  @keyframes dot-3 {
    0% {
      top: 2.25rem;
      left: 21px;
    }
    50% {
      top: 2.25rem;
      left: 15px;
    }
    100% {
      top: 2.6rem;
      left: 15px;
    }
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: ". . ." "main logo sub";
  }
  header #logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header .nav {
    display: block;
    position: absolute;
    top: 0;
    width: 35vw;
    height: 100vh;
    background-color: #0a898dd8;
    padding: 0 5vw;
  }
  header #toggle-main + label > div:first-child {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  header #toggle-main + label #nav-main {
    left: -35vw;
    -webkit-transition: left .5s ease-in .1s;
    transition: left .5s ease-in .1s;
  }
  header #toggle-main + label #nav-main > li {
    margin-bottom: 2rem;
    background-color: transparent;
  }
  header #toggle-main + label #nav-main > li > a {
    padding: 0;
  }
  header #toggle-main + label #nav-main > li:first-child {
    margin-top: 6rem;
  }
  header #toggle-main + label > div:last-child {
    display: block;
    position: absolute;
    top: 0;
  }
  header #toggle-main + label > div:last-child > span {
    background-color: white;
    height: 1px;
    display: inline-block;
    width: 16px;
    position: absolute;
  }
  header #toggle-main + label > div:last-child > span:nth-child(1) {
    left: .5rem;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    top: 1.9rem;
  }
  header #toggle-main + label > div:last-child > span:nth-child(2) {
    left: .5rem;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    top: 2.25rem;
  }
  header #toggle-main + label > div:last-child > span:nth-child(3) {
    left: .5rem;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    top: 2.6rem;
  }
  header #toggle-main:checked + label #nav-main {
    left: 0;
    -webkit-transition: left .5s ease-in 0s;
    transition: left .5s ease-in 0s;
  }
  header #toggle-main:checked + label > div:last-child > span:nth-child(1) {
    -webkit-transform: rotateZ(-45deg) translate(-0.26rem, 0.26rem);
            transform: rotateZ(-45deg) translate(-0.26rem, 0.26rem);
  }
  header #toggle-main:checked + label > div:last-child > span:nth-child(2) {
    opacity: 0;
  }
  header #toggle-main:checked + label > div:last-child > span:nth-child(3) {
    -webkit-transform: rotateZ(45deg) translate(-0.26rem, -0.26rem);
            transform: rotateZ(45deg) translate(-0.26rem, -0.26rem);
  }
  header #toggle-sub + label {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  header #toggle-sub + label > div:first-child {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  header #toggle-sub + label #nav-sub {
    right: -35vw;
    -webkit-transition: right .5s ease-in .1s;
    transition: right .5s ease-in .1s;
  }
  header #toggle-sub + label #nav-sub > li {
    margin-bottom: 2rem;
    text-align: right;
  }
  header #toggle-sub + label #nav-sub > li > a {
    padding: 0;
  }
  header #toggle-sub + label #nav-sub > li:nth-child(1) {
    margin-right: 0;
    margin-top: 6rem;
  }
  header #toggle-sub + label #nav-sub > li:nth-child(1) > a::before {
    content: "Cart ";
  }
  header #toggle-sub + label #nav-sub > li:nth-child(2) > a::before {
    content: "Account ";
  }
  header #toggle-sub + label #nav-sub > li:nth-child(3) > a::before {
    content: "Pinterest ";
  }
  header #toggle-sub + label #nav-sub > li:nth-child(4) > a::before {
    content: "Instagram ";
  }
  header #toggle-sub + label #nav-sub > li:nth-child(5) > a::before {
    content: "facebook ";
  }
  header #toggle-sub + label > div:last-child {
    display: block;
    position: absolute;
    top: 0;
  }
  header #toggle-sub + label > div:last-child > span {
    background-color: white;
    height: 2px;
    display: inline-block;
    width: 2px;
    position: absolute;
  }
  header #toggle-sub + label > div:last-child > span:nth-child(1) {
    top: 2.25rem;
    left: 9px;
  }
  header #toggle-sub + label > div:last-child > span:nth-child(2) {
    top: 2.25rem;
    left: 15px;
  }
  header #toggle-sub + label > div:last-child > span:nth-child(3) {
    top: 2.25rem;
    left: 21px;
  }
  header #toggle-sub:checked + label #nav-sub {
    right: 0;
    -webkit-transition: right .5s ease-in 0s;
    transition: right .5s ease-in 0s;
  }
  header #toggle-sub:checked + label > div:last-child > span:nth-child(1) {
    -webkit-animation: dot-1 .6s linear 0 normal forwards;
            animation: dot-1 .6s linear 0 normal forwards;
  }
  header #toggle-sub:checked + label > div:last-child > span:nth-child(3) {
    -webkit-animation: dot-3 .6s linear 0 normal forwards;
            animation: dot-3 .6s linear 0 normal forwards;
  }
}

@media only screen and (max-device-width: 382px) {
  header .nav {
    width: 40vw;
  }
  header #toggle-main + label #nav-main {
    left: -40vw;
  }
  header #toggle-sub + label #nav-sub {
    right: -40vw;
  }
}

/* ******************************************************************* PRODUCTS ******************************************************************* */
main {
  padding: 0 5vw;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #category {
  display: none;
}

main > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto 3vw;
      grid-template-columns: auto auto auto 3vw;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "img img img img"  "cat cat cat cat" "name name name name" "price .  . btn-buy";
}

main > div > a {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: img;
  width: 12rem;
  height: 8rem;
  background-size: 12rem;
  background-position: 50% 30%;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

main > div > a:hover {
  position: relative;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  background-position: center;
  border-radius: .6rem;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

main > div > h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: cat;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 0.8rem;
  font-weight: lighter;
}

main > div > h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: name;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 0.8rem;
  margin-top: .3rem;
}

main > div > span {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: price;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 0.6rem;
}

main > div > button {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: btn-buy;
  cursor: pointer;
  width: 2rem;
  background-color: #0a898d;
  border: 1px solid white;
  border-radius: .2rem;
  font-size: 0.6rem;
  color: inherit;
  padding: .15rem;
  margin-top: .5rem;
}

/* ******************************************************************* PRODUCT ******************************************************************* */
#product-json {
  display: none;
}

main > article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto 2.5rem;
      grid-template-columns: auto auto auto 2.5rem;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: "img cat cat cat"  "img name name name" "img spec spec spec" "img price label amount" "img price . btn-buy";
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

main > article > div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: img;
  width: 56vw;
  height: 32vw;
  background-size: 56vw;
  background-position: 50% 30%;
  margin-right: 2rem;
}

main > article > h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: cat;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: .5rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

main > article > h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: name;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 20;
  margin-bottom: .5rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

main > article > section {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: spec;
  font-size: .8rem;
  margin-bottom: 1rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

main > article section + span {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: price;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: .8rem;
}

main > article > label {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: label;
  font-size: .8rem;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 1rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

main > article > input {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: amount;
  height: 1.2rem;
  text-align: right;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

main > article input::-webkit-inner-spin-button {
  opacity: 1;
}

main > article > button {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: btn-buy;
  cursor: pointer;
  background-color: #0a898d;
  border: 1px solid white;
  border-radius: .2rem;
  font-size: .8rem;
  color: inherit;
  padding: .15rem;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

/* ******************************************************************* MEDIA QUERY ******************************************************************* */
@media only screen and (max-device-width: 640px) {
  main {
    display: block;
    padding-top: 4rem;
  }
  main > div {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  main > div > a {
    width: 90vw;
    height: 60vw;
    background-size: 90vw;
  }
  main > div > a:hover {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  main > div > h2 {
    font-size: 1.2rem;
  }
  main > div > h3 {
    font-size: 1.2rem;
    margin-top: .3rem;
  }
  main > div > span {
    font-size: 1em;
  }
  main > div > button {
    width: 3rem;
    padding: .2rem;
    margin-top: .5rem;
  }
}
/*# sourceMappingURL=style.css.map */