* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// colours
$main-color: #0a898d;
$text-color: white;
// distances
$screen-border-left-right: 0 5vw;
$header-bottom: 1vh;
$nav-main-left-right: 0 2vw;
$sub-main: .3rem 1rem .5rem 1rem;
$nav-sub-left-right: 0 .5vw;
$main-top: 10vh;
// coordinates
$img-width: 20vw;
$img-height: 12vw;
$bg-img-pos: -1.3vw -10vh;
// sizes
$category-size: .8rem;
$name-size: 1rem;
$price-size: .6rem;
$sub-main-size: .8rem;
// font
html {
    font-family: Helvetica, Arial, sans-serif;
    color: $text-color;
    letter-spacing: .03rem;
}
// background
body {
    background-color: $main-color;
}
// logo
#logo > img {
    background-image: url(/img/sogo_logo.svg);
    width: 3rem;
}
// header
header {
    height: 16vh;
    border-bottom: 1px solid white;
    padding: $screen-border-left-right;
    padding-bottom: $header-bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    > a {
        flex-grow: 1;
    }
    // navigation
    .nav {
        list-style-type: none;
        li a {
            display: block;
            text-decoration: none;
            color: $text-color;
        }
    }
    // main navigation
    #nav-main{
        flex-grow: 20;
        display: flex;
        justify-content: flex-start;
        > li a {
            padding: $nav-main-left-right;
        }
        // main sub navigation
        li:first-child {
            position: relative;
            ul {
                background-color: #0a898dd8;
                position: absolute;
                display: none;
                border-bottom-right-radius: .5rem;
                border-bottom-left-radius: .5rem;
                li {
                    font-size: $sub-main-size;
                    border-top: 1px solid white;
                    margin: $sub-main;
                    padding-top: .5rem;
                }
            }
        }
        li:first-child:hover ul {
            display: block;
        }
    }
    // sub navigation
    #nav-sub {
        flex-grow: 2;
        display: flex;
        justify-content: space-between;
        li a {
            padding: $nav-sub-left-right;
            font-size: 1.2em;
        }
        // shopping cart
        li:first-child {
            margin-right: 2vw;
        }
    }
}
// main
main {
    padding: $screen-border-left-right;
    margin-top: $main-top;
    display: flex;
    // products
    > div {
        display: grid;
        grid-template-columns: auto auto auto 3vw;
        grid-template-rows: auto;
        grid-template-areas:
            "img img img img" 
            "cat cat cat cat"
            "name name name name"
            "price . btn-buy ."
        ;
        // image
        > div {
            grid-area: img;
            display: inline-block;
            width: $img-width;
            height: $img-height;
            background-size: cover;
            background-position: $bg-img-pos;
       }
       // category
       h2 {
            grid-area: cat;
            align-self: end;
            font-size: $category-size;
            font-weight: lighter;
       }
       // name
       h3 {
            grid-area: name;
            align-self: end;
            color: $text-color;
            font-size: $name-size;
            margin-top: .3rem;
       }
       // price
       span {
            grid-area: price;
            align-self: end;
            font-size: $price-size;
       }
       // btn buy
       button {
            grid-area: btn-buy;
            cursor: pointer;
            width: 2rem;
            background-color: $main-color;
            border: 1px solid $text-color;
            border-radius: .2rem;
            font-size: $price-size;
            color: $text-color;
            box-shadow: .6rem .6rem .6rem #0a898d36;
            padding: .15rem;
            margin-top: .5rem;
       }
    }
}
